// 📌 폰트 변수 관리 (map 사용)
$fonts: (
  mainEng: 'Montserrat',
  mainKor: 'Noto Sans KR',
  mainNum: 'raleway',
);

// 📌 컬러 변수 관리 (map 사용)
$colors: (
  mainBg: #f3ede8,
  subBg100: #cdc0b1,
  subBg200: #afa395,
  subBg300: #81887c,
  subBg400: #afa7a2,
  subBg500: #a6afa2,

  title: #425a73,
  white: #fff,
  black: #333,
  black100: #555,
  black200: #686868,
  black300: #434343,
  black400: #2b2b2b,
);
