@charset "UTF-8";

// setting
@import 'fonts';
@import 'vars';
@import 'reset';
@import 'mixin';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  @include default;
}
